* {
box-sizing: border-box;
}

html {
background: url(images/background.jpg) center center fixed;
background-size: cover;
}

body {
font-size: 100%;
margin: 0;
margin-bottom: 50px;
}

h1, h2, h3 {
color: silver;
padding: 10px;
}

p {
color: beige;
font-size: 1.2em;
padding: 10px;
}

hr {
border: 1px solid silver;
width: 75%;
text-align: center;
margin-top: 20px;
animation: ani2 3s linear 2s infinite alternate;
}

@keyframes ani2 {
from {border: 1px solid silver;}
to {border: 1px solid red;}
}

#container img {
  width: 200px;
  height: 150px;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 50%;
}


#container img:hover {
  box-shadow: 2px 2px 4px white;
}

figure {
  /*box-shadow: 2px 2px 4px grey;*/
  width: 200px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
}

figcaption {
  text-align: center;
  font-size: 30px;
}

@media all and (min-width: 600px) {
#container img {
    width: 300px;
    height: 250px;
  }
figure {
  width: 300px;
  height: 250px;
}
}


			/*NavBar*/

nav {
/*width: 100%;*/
}

nav ul {
border-top: 1px solid silver;
background-color: black;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
animation: ani1 3s linear 2s infinite alternate;
}

@keyframes ani1 {
from {border-top: 1px solid silver;}
to {border-top: 1px solid red;}
}

nav ul li {
border-right: 1px solid silver;
display: inline-block;
}

nav ul li:last-child {
border-right: none;
float: right;
}

nav ul li a {
text-decoration: none;
color: white;
font-size: 1.2em;
padding: 10px;
}

nav ul li a:hover {
  color: orange;
}

@media all and (max-width: 600px) {
nav ul li a {
font-size: 1em;
padding: 5px;
}
nav ul li:nth-child(4) {
  display: none;
}
p {
font-size: 1em;
}
}
